@import '../Data/brand.scss';
td, th{
    padding: 0.5rem 1rem;
    text-align: left;
    @media screen and (min-width: 250px) and (max-width: 850px) {
        padding: 0.125rem 0.25rem;
    }
}

.shrink_td{
    max-width: 3rem;
}

.show{
    display: table-row;
}
.hidden{
    display: none;
}

.Big_Screen_Only{
    @media screen and (min-width: 250px) and (max-width: 850px) {
        display: none;
    }
}
.Non_Tablet{
    @media screen and (min-width: 851px) and (max-width: 1350px) {
        display: none;
    }
}

.quantity_column{
    background-color: rgb(209, 216, 209);
    padding: 0.3rem 1rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;    
    position: relative;
    width: 2rem;

    .varied_fill{
        position: absolute;
        height: 100%;

        left:0;
        top:0;
        transform: translate(0%, 0%);
    }
}


.product_image__container{
    border-radius: 50%;
    width: 6.5rem;
    margin-bottom: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #151231;
    position: relative;
    @media screen and (min-width: 250px) and (max-width: 850px) {
        width: 100%;
    }
  }


  .product_image__container::before{
    content: '';
  display: block;
  padding-bottom: 100%;
  
  }

  .delete_item{
    color:$brand_red;
    margin: 0;
    font-weight: 500;
    cursor: pointer;
  }