@import '../Data/brand.scss';
.image_tab{
    width: $tabs_width;
    margin-bottom: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    padding: $tabs_padding;
    align-items: center;
    height: $tabs_height;
    flex-direction: column;
    
    @media screen and (min-width: 250px) and (max-width: 760px) {
        width: 100%;
    }
    
}

.image_tab{
    cursor: pointer;
    justify-content: flex-end;
    background-position: 90%;

}

.tab_description{
    color: #fdfffc;
    font-weight: bold;
    font-size: 2.5rem;
    z-index: 1;
    justify-self: center;
}

.image_tab__filter{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}


