@import '../../components/Data/brand.scss';


.failed_form_validation{
    font-size: 0.75rem;
    color: $brand_red;
}

.options_form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    padding: 5rem 0;
}

.options_form__content{
    width: 40%;
    padding: 2rem 3rem;
    border-radius: 4px;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: $brand_white;
    @media screen and (min-width: 250px) and (max-width: 760px) {
      width: 90%;
      padding: 1rem 1.5rem;
  }
    @media screen and (min-width: 761px) and (max-width: 1100px) {
      width: 75%;
      padding: 1rem 1.5rem;
  }
}
.form_logo{
    width: 100%;
    img{
      width: 20%;
      @media screen and (min-width: 250px) and (max-width: 760px) {
        width: 40%;
    }
    }
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    .selected_brand{
        font-size: 2rem;
        text-align: right;
        font-weight: 600;
        color: $brand_orange;
        @media screen and (min-width: 250px) and (max-width: 760px) {
          font-size: 1.25rem;
      }
    }
}


.options_form{
    display: flex;
    flex-direction: column;
    background-color: $brand_white;
    width: 100%;
}

hr {
  border: none;
  border-top: 1px solid $brand_black;
  margin: 20px 0;
}

.routing_btn, .routing_btn__secondary{
  background: $brand_cyan;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  color: $brand_white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
  display: block;
}
.routing_btn__secondary{
  background: $brand_orange;
}